
/* gdm: 160416 FONT PATH 
文悦古体仿宋 http://wytype.com/typeface/WyueGutiFangsong/
非商业用途 http://wytype.com/purchase/
Wyue-GutiFangsong-NC_deliverable.otf

@font-face {
  font-family: 'WyueGutiFangsong';
  src: url('/assets/fonts/Wyue-GutiFangsong-NC_deliverable.otf');
  font-weight: normal;
  font-style: normal;
}
*/

/* gdm: 160417
书法家秀隶体 - 有字库 http://www.youziku.com/fontdetail/index/45809
使用引用 API：<link href="http://api.youziku.com/webfont/CSS/57134837f629d80ec4eba27c" rel="stylesheet" type="text/css">
或直接写下：
@font-face {
	font-family: 'shufajia-xiuli2c87b5f3e5635';
	……
}
.css2c87b5f3e5635{font-family: 'shufajia-xiuli2c87b5f3e5635';}
*/
@font-face {
	font-family: 'shufajia-xiuli2c87b5f3e5635';
	src: url('http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/webfonts/css/userwebfont/22069/57134837f629d80ec4eba27c/57134837f629d80ec4eba27c.gif');
	src: url('http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/webfonts/css/userwebfont/22069/57134837f629d80ec4eba27c/57134837f629d80ec4eba27c.gif?#iefix') format('embedded-opentype'),     url('http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/webfonts/css/userwebfont/22069/57134837f629d80ec4eba27c/57134837f629d80ec4eba27c.bmp') format('woff'),     url('http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/webfonts/css/userwebfont/22069/57134837f629d80ec4eba27c/57134837f629d80ec4eba27c.jpg') format('truetype'),     url('http://youzikuwebfont.oss-cn-beijing.aliyuncs.com/webfonts/css/userwebfont/22069/57134837f629d80ec4eba27c/57134837f629d80ec4eba27c.png#shufajia-xiuli') format('svg');   
	font-weight: normal;
	font-style: normal;
}
/* gdm: 160417
书法家豪楷体 - 有字库 http://www.youziku.com/fontdetail/index/46456
<link href="http://api.youziku.com/webfont/CSS/57138743f629d80ec4eba291" rel="stylesheet" type="text/css">
class="css2c971a6e95635"
*/
@font-face {
	font-family: 'SFJ_haokait2c971a6e95635';
	src: url('/assets/fonts/youziku/dizigui_484.gif');
	src: url('/assets/fonts/youziku/dizigui_484.gif?#iefix') format('embedded-opentype'),     url('/assets/fonts/youziku/dizigui_484.bmp') format('woff'),     url('/assets/fonts/youziku/dizigui_484.jpg') format('truetype'),     url('/assets/fonts/youziku/dizigui_484.png#SFJ_haokait') format('svg');   
	font-weight: normal;
	font-style: normal;
}
.css2c971a6e95635{ font-family: 'SFJ_haokait2c971a6e95635'; }

#dizigui-wrap
,h1.article-title {
  color: #565a5f;
  background: #f5f8f9;
  font: 14px "SFJ_haokait2c971a6e95635", "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
	h1.article-title {
		font-size: 2.0em;
		line-height: 1.6em;
		background: none;
	}

#dizigui-wrap:after {
	content: "";
	clear: both;
}

#dizigui-wrap h3 {
	display: block;
	width: 100%;
	float: left;
	line-height: 0;
    margin: 1.0em 0;
}
#dizigui-wrap h3:before
,#dizigui-wrap h3:after {
	content: "";
	clear: both;
}

#dizigui-wrap ruby {
	display: block;
	width: 7%;
	font-size: 2.0em;
	line-height: 1.6em;
	margin: 0.1em 0;
	float: left;
	text-indent: 0;
    text-align: center;
}
#dizigui-wrap ruby rp {
	text-indent: 0;
}
#dizigui-wrap ruby rt {
	font-size: 0.5em;
	text-indent: 0;
}

#dizigui-wrap ins 
,#dizigui-wrap i 
,#dizigui-wrap span {
	display: block;
	width: 5%;
	float: left;
}

h3#dizigui-title sup {
    top: 3em;
}

.article-header .article-title sup {
	top: -1.5em;
	font-size: 0.5em;
	position: relative;
    vertical-align: baseline;
}

@media screen and (max-width:767px) {  /* 实际视窗宽 210~960px */
	#dizigui-wrap ruby { 
		width: 14%;
	}
	#dizigui-wrap span {
		width: 10%;
	}
}
@media screen and  (min-width:768px) {
	#dizigui-wrap ruby { 
		width: 7%;
	}
	#dizigui-wrap span {
		width: 5%;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px) { /* 实际视窗宽 1000~1200px，为适应hexo 侧边栏与正文并列争用时。*/
	#dizigui-wrap ruby { 
		width: 14%;
	}
	#dizigui-wrap span {
		width: 10%;
	}
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}

/* 侧边栏样式 style.css .L1656, 
@media screen and (min-width: 800px) and (max-width: 1199px) {
  #sidebar {
    display: inline;
    float: left;
    width: 29.230769230769234%;
    margin: 0 0.769230769230769%;
  }
}
*/

/* 魅族note 视窗测试 min-width:640px 
@media screen and  (min-width:641px) { 
	#dizigui-wrap:before {
		content: "view-port:";
	}
}
*/


/* 以下为测试数据 */
#dizigui {
	
}
#dizigui:after
,#temp:after
,.clearBoth {
	content: "";
	clear: both;
}
#dizigui ruby {
	display: block;
	width:25%;
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0.1em 0;
	float: left;
	text-indent: 3em; /*43px*/
}
#dizigui ruby rp {
	text-indent: 0;
}
#dizigui ruby rt {
	font-size: 0.8em;
	text-indent: 0;
}
#dizigui h3 {
	display: block;
	width: 100%;
	float: left;
}
#dizigui h3:before
,#dizigui h3:after {
	content: "";
	clear: both;
}
.col-4 {
	width: 25%;
}

